includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    checkGenericClassInNonGenericObjectType: false
    paths:
        - app
        - tests
    level: 8
    ignoreErrors:
    excludePaths:
    parallel:
        maximumNumberOfProcesses: 4
